body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
}

    .menu a {
        width: 40%;
        padding: 10px;
        margin: 10px;
        border: 1px solid black;
        box-shadow: 2px 2px 5px 1px rgba(155,155,155,0.5);
        text-align: center;
        font-weight: 700;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
